* { 
    padding: 0;
    margin: 0; 
}

canvas { 
    background-image: url("images/field.png");
    background-position: center;
    background-size: cover;
    display: block;
    margin: 0 auto; 
}

#container{
    position: relative;
    height: 600px;
    width: 480px;
}

#play-again{
    position: absolute;
    left: 190px;
    top: 200px;
    background: rgb(225, 0, 0);
    padding: 15px;
    color: white;
    border-radius: 5%;
    cursor: pointer;
}

#play-again:hover{
    color:  rgb(225, 0, 0);
    background: rgb(252, 252, 255);
}

#score{
    position: absolute;
    left: 80px;
    top: 10px;
    color: white;
    background: rgb(0, 0, 225);
    padding: 5px;
    border-radius: 10%;
}

#highscore{
    position: absolute;
    left: 300px;
    top: 10px;
    color: white;
    background: rgb(0, 0, 225);
    padding: 5px;
    border-radius: 10%;
}
